Source: multiwan
Section: net
Priority: optional
Maintainer: Steve Buzonas <steve@fancyguy.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://stevebuzonas.com/multiwan
Vcs-Git: git://github.com/slbmeh/deb-multiwan.git
Vcs-Browser: http://github.org/slbmeh/deb-multiwan

Package: multiwan
Architecture: any
Depends: bash (>=2.05a-11), iputils-ping, iproute, lsb-base (>= 3.0-6), ${misc:Depends}
Description: script provides link status checking and failover route switching
 depending on current link state.
